{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Basket
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end mb-3 mb-lg-5">
                    <h1>{{ page_title }}</h1>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
<div class="basket {% if product_count < 1 %}__empty{% endif %}">
    {% if product_count > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h4 mb-3 mb-lg-5">Your order</h2>
                    {% for item in bag_items %}
                        {% include 'bag/includes/bag-item.html' %}
                    {% endfor %}
                </div>

                <div class="col-lg-3 offset-lg-1">
                    <h2 class="h4 mb-3 mb-lg-5">Summary</h2>
                    <div class="basket-summary">
                        <div class="basket-summary-item">
                            <h3 class="basket-summary-item-title">Subtotal</h3>
                            <p>£{{ total }}</p>
                        </div>
                        <div class="basket-summary-item">
                            <h3 class="basket-summary-item-title">Postage</h3>
                            <p>£{{ delivery }}</p>
                        </div>
                        {% if free_delivery_delta %}
                        <div class="basket-summary-item __delivery">
                            <p>Spend <strong>£{{ free_delivery_delta }}</strong> for free postage</p>
                        </div>
                        {% endif %}
                        <div class="basket-summary-item {% if not free_delivery_delta %}__total{% endif %}">
                            <h3 class="basket-summary-item-title">Total</h3>
                            <p>£{{ grand_total }}</p>
                        </div>
                    </div>
                    <a href="{% url 'checkout' %}" class="button w-100 text-center mt-3">Proceed to checkout</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="basket-icon">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <h2 class="h5 mb-5">Your basket is currently empty</h2>
                    <a href="{% url 'products' %}" class="button">Return to products</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        let csrfToken = '{{ csrf_token }}';
    </script>

    <script src="{% static 'bag/js/basket-buttons.js' %}"></script>
    <script src="{% static 'js/quantity-input-script.js' %}"></script>
{% endblock %}