asgiref==3.5.2
crispy-bootstrap5==0.7
Django==3.2
django-ckeditor==6.5.1
django-countries==7.3.2
django-crispy-forms==1.14.0
django-js-asset==2.0.0
Pillow==9.2.0
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.2.1
sqlparse==0.4.2
stripe==4.2.0
