{% extends 'base.html' %}

{% block extra_title %}
 - Artists
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                <div class="d-flex align-items-center">
                    <h1>Artists</h1>
                    {% if user.is_superuser %}
                        <a href="{% url 'add_artist' %}" class="product-add" title="Add an artist">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    {% endif %}
                </div>
                {% if artists|length > 0 %}
                    <span>{{ artists|length }} Artist{% if artists|length > 1 %}s{% endif %}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div> 
{% endblock %}

{% block content %}
<div class="artists">
    <div class="container">
        <div class="row">
            {% if artists|length > 0 %}
            {% regroup artists by name|slice:":1" as artist_list %}
            {% for artist in artist_list %}
            <div class="col-lg-4 mb-4">
                <h2 class="artists-group-title">{{ artist.grouper|title }}</h2>
                <ul class="artists-list d-flex flex-column align-items-start">
                    {% for artist in artist.list %}
                    <li class="artists-list-item d-inline-block align-items-center">
                        <a href="{% url 'products' %}?artist={{ artist.name }}" class="artists-list-item-link">{{ artist.friendly_name }}</a>
                        {% if user.is_superuser %}
                        <a href="{% url 'edit_artist' artist.id %}" class="artists-edit">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="{% url 'artist_warning' artist.id %}" class="artists-delete">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12">
                <h2 class="h4">Nothing to see here.</h2>
                <a href="{% url 'products' %}">Why don't you try the rest of our products.</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}