{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}
 - {% if profile.user.first_name %}
    {{ profile.user.get_full_name }}
{% else %}
    {{ profile }}
{% endif %}
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end mb-3 mb-lg-5">
                    {% if profile.user.first_name %}
                        <h1>{{ profile.user.get_full_name }}</h1>
                    {% else %}
                        <h1>{{ profile }}</h1>
                    {% endif %}
                    <span>{{ profile }}</span>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>Default Delivery Information</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="button">Update</button>
                </form>
            </div>
            <div class="col-lg-6">
                <p>Your orders</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order No.</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>
                                    {{ order.date }}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {% if item.product.merch.has_sizes %}
                                                    Size {{ item.product.size|upper }}
                                                {% endif %}
                                                {{ item.product.name }} x {{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    £{{ order.grand_total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
    
{% endblock %}