{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}
 - {% if profile.user.first_name %}
    {{ profile.user.get_full_name }}
{% else %}
    {{ profile }}
{% endif %}
{% endblock %}

{% block page_header %}
<section class="profile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end mb-3 mb-lg-5">
                    {% if profile.user.first_name %}
                        <h1>{{ profile.user.get_full_name }}</h1>
                    {% else %}
                        <h1>{{ profile }}</h1>
                    {% endif %}
                    <span>{{ profile }}</span>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h3 class="h5 mb-3">Default Delivery Information</h3>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="button">Update</button>
                </form>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <h3 class="h5 mb-3">Your orders</h3>
                <div class="order-history table-responsive">
                    {% if orders %}
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order No.</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>
                                    {{ order.date }}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }}
                                                {% if item.product.merch.has_sizes %}
                                                    ({{ item.product_size|upper }})
                                                {% endif %}
                                                x {{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    £{{ order.grand_total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>Your orders will appear here once you have made your first order.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if wishlist.products.all %}
        {% include 'includes/related/related.html' %}
    {% else %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h2 class="h4">Your wishlist</h2>
                    <p>Your wishlist is currently empty</p>
                </div>
            </div>
        </div>
    {% endif %}

</section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}