/* VARIABLES */

// colors
$color-black: #18181b;
$color-grey: #d4d4d8;
$color-white: #f8fafc;
$color-red: #ef4444;

// fonts
$title-font: 'DM sans';
$text-font: 'Montserrat';

// breakpoints
$sm: 575px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// transition speeds
$fast: .3s;
$mid: .5s;
