@mixin productTag($text) {
    &::before {
        content: '#{$text}';
        display: inline-block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 1rem 1.5rem;
        background: $color-red;
        color: $color-white;
        border-radius: 4px;
        z-index: 1;
        text-transform: uppercase;
    }
}

%overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-black;
        opacity: 0.9;
        z-index: 2;
    }
}

%object-fit {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: all $mid;
    }
}

%select {
    padding: .8rem;
    width: 100%;

    @media screen and (min-width: $md) {
        width: 25%;
    }
}

%strikethrough {
    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 105%;
        height: .3rem;
        background: $color-red;
    }
}