/* imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');
@import 'modules';
@import 'components';

/* body stylings */

html {
    font-size: 62.5%;
}

body {
    font-family: $text-font;
    font-size: 1.6rem;

    &.__mobile {
        overflow: hidden;

        .burger {
            .burger-icon {
                background: transparent;

                &::before,
                &::after {
                    left: 0;
                }

                &::before {
                    top: 0;
                    transform: rotate(135deg);
                }

                &::after {
                    bottom: 0;
                    transform: rotate(225deg);
                }
            }
        }

        .nav {
            &-overlay {
                display: block;
            }

            &.__mobile {
                transform: translateX(0);
            }
        }
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $title-font;
    font-weight: 700;
}

h1,
.h1 {
    font-size: 4.8rem;
    
    @media screen and (min-width: $lg) {
        font-size: 6.4rem;
    }
}

h2,
.h2 {
    font-size: 4rem;

    @media screen and (min-width: $lg) {
        font-size: 4.8rem;
    }
}

h3,
.h3 {
    font-size: 3.2rem;

    @media screen and (min-width: $lg) {
        font-size: 4rem;
    }
}

h4,
.h4 {
    font-size: 2.4rem;

    @media screen and (min-width: $lg) {
        font-size: 3.2rem;
    }
}

h5,
.h5 {
    font-size: 2rem;

    @media screen and (min-width: $lg) {
        font-size: 2.4rem;
    }
}

h6,
.h6 {
    font-size: 1.6rem;

    @media screen and (min-width: $lg) {
        font-size: 2rem;
    }
}

a {
    color: $color-red;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-red;
    }
}

strong {
    font-weight: 600;
}

.page {
    &-header {
        padding-bottom: 1rem;
        margin-bottom: 2.3rem;
        border-bottom: 1px solid $color-grey;

        @media screen and (min-width: $lg) {
            margin-bottom: 4.6rem;
        }

        span {
            opacity: 0.6;
            display: inline-block;
        }

        select {
            @extend %select;
        }

        #shop_filter {
            margin-top: 1rem;

            @media screen and (min-width: $lg) {
                margin-top: 0;
            }
        }
    }
}

.backlink {
    color: $color-red;
    text-decoration: none;
    transition: all $fast;

    &:hover,
    &:focus {
        color: $color-red;
        text-decoration: underline;
    }
}

.message-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    
    .toast {

        &-header {
            @extend .h5;
            
            color: $color-white;
            background: $color-red;
            padding: 1.2rem;
        }

        &-body {
            font-size: 1.6rem;
            padding: 1.2rem;
        }

        .btn-close {
            height: .5rem;
            width: .5rem;
        }

        &.__success {
            .toast {
                &-header {
                    background: $color-green;
                }
            }
        }

        &.__info {
            .toast {
                &-header {
                    background: $color-grey;
                }
            }
        }
    }
}

.base-form {
    background: $color-grey;
    border-radius: .4rem;
    padding: 2rem;
    margin-bottom: 2rem;

    input,
    select,
    textarea {
        font-size: 1.6rem;

        &[type=checkbox] {
            padding: 1rem;
        }
    }

    .form {
        &-check {
            &-label {
                transform: translate(.5rem, 50%);
            }
        }
    }
}

.no-image {
    background: $color-grey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before,
    &::after {
        content: '';
        height: 100%;
        width: 1px;
        background: rgba($color-black, 0.2);
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        transform: translateX(-50%);
    }

    &::before {
        transform: rotate(50deg);
    }

    &::after {
        transform: rotate(-50deg);
    }

    p {
        background: $color-grey;
        padding: 2rem 3.2rem;
        position: relative;
        z-index: 2;
        font-weight: 600;
        color: $color-black;
    }

    &.__small {
        p {
            padding: .5rem;
        }
    }
}