/* imports */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideup {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideup {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.homepage-bg-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.homepage-bg-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #18181b;
  opacity: 0.9;
  z-index: 2;
}

.product-image, .blog-item-image {
  position: relative;
  overflow: hidden;
}
.product-image img, .blog-item-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.button, .nav-list-item > ul.__basket a.button {
  background: #ef4444;
  color: #f8fafc;
  padding: 1.4rem 2.4rem;
  border-radius: 4px;
  border: 2px solid #ef4444;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.button:hover, .nav-list-item > ul.__basket a.button:hover, .button:focus, .nav-list-item > ul.__basket a.button:focus {
  color: #f8fafc;
  background: #eb1515;
  border-color: #eb1515;
}
.button.__slide, .nav-list-item > ul.__basket a.__slide.button {
  background: right top/210% 100% linear-gradient(to right, #f8fafc 50%, transparent 50%);
  border: 2px solid #f8fafc;
}
.button.__slide:hover, .nav-list-item > ul.__basket a.__slide.button:hover, .button.__slide:focus, .nav-list-item > ul.__basket a.__slide.button:focus {
  background: left top/210% 100% linear-gradient(to right, #f8fafc 50%, transparent 50%);
  color: #18181b;
}

.product-btn, .blog-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid #18181b;
  padding: 1rem 2rem;
  font-size: 2rem;
  transition: all 0.5s;
}

.header {
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .header {
    margin-bottom: 4rem;
  }
}
.header.__home {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  background: transparent;
}
.header.__home .header-wrap {
  background: transparent;
}
.header-logo {
  color: #f8fafc;
  text-decoration: none;
  padding: 1rem 0;
}
.header-logo:hover, .header-logo:focus {
  color: #f8fafc;
}
.header-wrap {
  background: #18181b;
}
.header .burger {
  height: 4.8rem;
  width: 4.8rem;
  background: #ef4444;
  position: fixed;
  z-index: 5;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  display: inline-block;
  border-radius: 4px;
}
@media screen and (min-width: 992px) {
  .header .burger {
    display: none;
  }
}
.header .burger-icon {
  width: 50%;
  height: 3px;
  background: #f8fafc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .burger-icon::before, .header .burger-icon::after {
  content: "";
  background: #f8fafc;
  width: 100%;
  height: 3px;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.header .burger-icon::before {
  top: -0.6rem;
}
.header .burger-icon::after {
  bottom: -0.9rem;
}

.nav {
  display: none;
}
@media screen and (min-width: 992px) {
  .nav {
    display: block;
  }
}
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(24, 24, 27, 0.8);
  display: none;
  z-index: 2;
}
.nav-list-item {
  position: relative;
}
.nav-list-item a,
.nav-list-item span:not(.basket-quantity, .scroll) {
  color: #f8fafc;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .nav-list-item a,
.nav-list-item span:not(.basket-quantity, .scroll) {
    padding: 4rem 3rem;
  }
}
.nav-list-item:hover > a,
.nav-list-item:hover > span, .nav-list-item:focus > a,
.nav-list-item:focus > span {
  color: #ef4444;
}
.nav-list-item:first-of-type > a,
.nav-list-item:first-of-type > span {
  padding-left: 0;
}
.nav-list-item > ul {
  background: #f8fafc;
  display: none;
  box-shadow: 0 1.6rem 2.4rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 3rem;
}
@media screen and (min-width: 992px) {
  .nav-list-item > ul {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 30rem;
    margin-top: 0;
    z-index: 2;
  }
}
.nav-list-item > ul.__basket {
  left: auto;
  right: 0;
  padding: 1rem;
  width: 35rem;
  max-height: 40rem;
  overflow: scroll;
}
.nav-list-item > ul.__basket::-webkit-scrollbar {
  display: none;
}
.nav-list-item > ul.__basket a {
  padding: 0;
  background: #f8fafc;
  color: #18181b;
}
.nav-list-item > ul.__basket a:hover h2:not(.text-center), .nav-list-item > ul.__basket a:focus h2:not(.text-center) {
  color: #ef4444;
}
.nav-list-item > ul.__basket a.button {
  text-align: center;
}
.nav-list-item > ul.__basket h2 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.nav-list-item > ul.__basket p {
  font-size: 1rem;
  font-weight: 400;
}
.nav-list-item > ul.__basket p.text-center, .nav-list-item > ul.__basket p.mt-auto {
  font-weight: 600;
}
.nav-list-item > ul.__basket p.text-center {
  font-size: 2rem;
}
.nav-list-item > ul.__basket p.mt-auto {
  font-size: 1.6rem;
}
.nav-list-item > ul.__basket .scroll {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background: #ef4444;
  color: #f8fafc;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.nav-list-item > ul.__basket .basket-menu-item {
  border-radius: 4px;
}
.nav-list-item > ul.__basket .basket-menu-item .row {
  border-bottom: 1px solid #d4d4d8;
  padding: 1.6rem 1rem;
}
.nav-list-item > ul.__basket .basket-menu-item .row.__first {
  padding-top: 0.6rem;
}
.nav-list-item > ul.__basket .basket-menu-item .row.__last {
  padding-bottom: 0.6rem;
  border-bottom: none;
}
.nav-list-item > ul.__submenu > li a {
  padding: 1.8rem 2.4rem;
  color: #18181b;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}
.nav-list-item > ul.__submenu > li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: all 0.3s;
}
.nav-list-item > ul.__submenu > li a:hover, .nav-list-item > ul.__submenu > li a:focus {
  color: #f8fafc;
  background: #ef4444;
}
.nav-list-item > ul.__submenu > li a:hover::before, .nav-list-item > ul.__submenu > li a:focus::before {
  width: 5px;
  background: #d41212;
}
@media screen and (min-width: 992px) {
  .nav-list-item > ul.__submenu.__right {
    left: auto;
    right: 0;
  }
}
.nav-list-item .basket-quantity {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #ef4444;
  color: #f8fafc;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1rem;
  right: -0.8rem;
}
@media screen and (min-width: 992px) {
  .nav-list-item:hover > ul, .nav-list-item:focus > ul {
    display: block;
  }
}
.nav.__mobile {
  display: block;
  position: fixed;
  background: #18181b;
  height: 100vh;
  width: 80vw;
  top: 0;
  right: 0;
  padding: 6rem 4rem;
  transition: all 0.3s;
  transform: translateX(80vw);
  z-index: 3;
}
.nav.__mobile > ul {
  flex-direction: column;
  display: flex;
}
.nav.__mobile > ul > li {
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 992px) {
  .nav.__mobile {
    display: none;
  }
}

.breadcrumb {
  background: #d4d4d8;
  padding: 1rem 0;
}
.breadcrumb a,
.breadcrumb i {
  color: #18181b;
  font-size: 1.4rem;
}
.breadcrumb a {
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
  opacity: 0.8;
}
.breadcrumb a:hover, .breadcrumb a:focus {
  opacity: 1;
}
.breadcrumb i {
  margin-right: 0.5rem;
}

.homepage {
  width: 100vw;
  height: 100vh;
  min-height: 60rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #f8fafc;
  overflow: hidden;
}
.homepage-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
.homepage-bg-wrap img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.homepage-title {
  margin-bottom: 1.6rem;
}
.homepage-text {
  opacity: 0.6;
  margin-bottom: 1.6rem;
}
.homepage-icons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.6rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
}
@media screen and (min-width: 992px) {
  .homepage-icons {
    display: flex;
  }
}
.homepage-icons a {
  color: #f8fafc;
  font-size: 3.2rem;
  margin: 0 1.6rem;
  color: rgba(248, 250, 252, 0.8);
  display: inline-block;
  transform: translateY(200px);
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: color 0.3s;
}
.homepage-icons a:hover, .homepage-icons a:focus {
  color: #f8fafc;
}

.homepage-icons a:nth-child(1) {
  -webkit-animation-delay: calc(0.25s);
          animation-delay: calc(0.25s);
}

.homepage-icons a:nth-child(2) {
  -webkit-animation-delay: calc(0.5s);
          animation-delay: calc(0.5s);
}

.homepage-icons a:nth-child(3) {
  -webkit-animation-delay: calc(0.75s);
          animation-delay: calc(0.75s);
}

.homepage-icons a:nth-child(4) {
  -webkit-animation-delay: calc(1s);
          animation-delay: calc(1s);
}

.blog-item {
  color: #18181b;
  text-decoration: none;
  display: block;
  margin-bottom: 2.6rem;
  position: relative;
}
.blog-item.__featured::before {
  content: "Featured";
  display: inline-block;
  position: absolute;
  top: 0.8rem;
  left: 1.5rem;
  padding: 1rem 1.5rem;
  background: #ef4444;
  color: #f8fafc;
  border-radius: 4px;
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .blog-item {
    height: 25rem;
    margin-bottom: 4rem;
  }
}
.blog-item:hover, .blog-item:focus {
  color: #18181b;
}
.blog-item:hover .blog-item-image img, .blog-item:focus .blog-item-image img {
  transform: scale(1.05);
}
.blog-item:hover .blog-item-icon, .blog-item:focus .blog-item-icon {
  color: #f8fafc;
  background: #18181b;
}
.blog-item-image {
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .blog-item-image {
    height: 100%;
  }
}
.blog-item-wrap {
  position: relative;
  height: 100%;
  padding-bottom: 5rem;
}
@media screen and (min-width: 992px) {
  .blog-item-wrap {
    padding-left: 1rem;
    padding-bottom: 0;
  }
}
.blog-item-title {
  margin-bottom: 1.2rem;
}
.blog-item-title span {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.6;
}
.blog-single-image {
  position: relative;
  overflow: hidden;
  height: 28rem;
  margin-bottom: 5rem;
}
.blog-single-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.product:hover .product-image img, .product:focus .product-image img {
  transform: scale(1.05);
}
.product-text {
  position: relative;
}
.product-image {
  height: 30rem;
}

/* body stylings */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  font-size: 1.6rem;
}
body.__mobile {
  overflow: hidden;
}
body.__mobile .burger .burger-icon {
  background: transparent;
}
body.__mobile .burger .burger-icon::before, body.__mobile .burger .burger-icon::after {
  left: 0;
}
body.__mobile .burger .burger-icon::before {
  top: 0;
  transform: rotate(135deg);
}
body.__mobile .burger .burger-icon::after {
  bottom: 0;
  transform: rotate(225deg);
}
body.__mobile .nav-overlay {
  display: block;
}
body.__mobile .nav.__mobile {
  transform: translateX(0);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
.header-logo,
.blog-item-title,
h4,
.h4,
h5,
.h5,
.nav-list-item,
h6,
.h6 {
  font-family: "DM sans";
  font-weight: 700;
}

h1,
.h1 {
  font-size: 4.8rem;
}
@media screen and (min-width: 992px) {
  h1,
.h1 {
    font-size: 6.4rem;
  }
}

h2,
.h2 {
  font-size: 4rem;
}
@media screen and (min-width: 992px) {
  h2,
.h2 {
    font-size: 4.8rem;
  }
}

h3,
.h3,
.header-logo,
.blog-item-title {
  font-size: 3.2rem;
}
@media screen and (min-width: 992px) {
  h3,
.h3,
.header-logo,
.blog-item-title {
    font-size: 4rem;
  }
}

h4,
.h4 {
  font-size: 2.4rem;
}
@media screen and (min-width: 992px) {
  h4,
.h4 {
    font-size: 3.2rem;
  }
}

h5,
.h5,
.nav-list-item {
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  h5,
.h5,
.nav-list-item {
    font-size: 2.4rem;
  }
}

h6,
.h6 {
  font-size: 1.6rem;
}
@media screen and (min-width: 992px) {
  h6,
.h6 {
    font-size: 2rem;
  }
}

.page-header {
  padding-bottom: 1rem;
  margin-bottom: 2.3rem;
  border-bottom: 1px solid #d4d4d8;
}
@media screen and (min-width: 992px) {
  .page-header {
    margin-bottom: 4.6rem;
  }
}
.page-header h1 {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 992px) {
  .page-header h1 {
    margin-bottom: 0;
  }
}
.page-header span {
  opacity: 0.6;
  display: inline-block;
}/*# sourceMappingURL=base.css.map */