{% extends 'base.html' %}

{% block extra_title %}
- {{ blog.title }}
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'blog' %}" class="d-flex align-items-center"><i class="fa-solid fa-chevron-left"></i>
                    Back to blogs</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                <div class="d-flex align-items-center">
                    <h1 class="h3">{{ blog.title }}</h1>
                    {% if user.is_superuser %}
                    <a href="{% url 'edit_blog' blog.id %}" class="crud-btn" title="Edit this blog post">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a href="{% url 'blog_warning' blog.id %}" class="crud-btn" title="Delete this blog post">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <a href="{% url 'feature_blog' blog.id %}" class="crud-btn" title="Feature this blog">
                        <i class="fa-solid fa-star"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}

{% block content %}
<div class="blog-single">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-single-image">
                    <img src="{{ blog.image_url }}" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-lg-auto">
                {{ blog.content|safe }}
                <div class="blog-single-author text-end">
                    <p>
                        Written by:
                        {% if blog.author.user.get_full_name %}
                            {{ blog.author.user.get_full_name }}
                        {% else %}
                            {{ blog.author }}
                        {% endif %}
                    </p>
                    <p>
                        {{ blog.date_published|date:"M d, Y" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}