{% extends 'base.html' %}

{% block extra_title %}
 - Blog
{% endblock %}

{% block page_header %}
    {% for page in blogpage %}
        {{ page.title }}
    {% endfor %}
{% endblock %}

{% block page_subtitle %}
    {% for page in blogpage %}
        {{ page.subtitle }}
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-lg-auto">

            {% for blog in blogpage %}
                {% if blog.featured_blog %}
                <a href="{% url 'blog_detail' blog.featured_blog.id %}" class="blog-item w-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-lg-4 h-100">
                                <div class="blog-item-image">
                                    <img src="{{ blog.featured_blog.image_url }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="blog-item-wrap">
                                    <h2 class="blog-item-title d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-end">
                                        {{ blog.featured_blog.title }}
                                        <span>Written by: Author name</span>
                                    </h2>
                                    <p class="d-lg-none">{{ blog.featured_blog.content|striptags|safe|truncatewords:50 }}</p>
                                    <p class="d-none d-lg-block">{{ blog.featured_blog.content|striptags|safe|truncatewords:100 }}</p>
                                    <span class="blog-item-icon"><i class="fa-solid fa-arrow-right-long"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            {% endfor %}

            {% for blog in blogs %}
            <a href="{% url 'blog_detail' blog.id %}" class="blog-item w-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-4 h-100">
                            <div class="blog-item-image">
                                <img src="{{ blog.image_url }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="blog-item-wrap">
                                <h2 class="blog-item-title d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-end">
                                    {{ blog.title }}
                                    <span>Written by: Author name</span>
                                </h2>
                                <p class="d-lg-none">{{ blog.content|striptags|safe|truncatewords:50 }}</p>
                                <p class="d-none d-lg-block">{{ blog.content|striptags|safe|truncatewords:100 }}</p>
                                <span class="blog-item-icon"><i class="fa-solid fa-arrow-right-long"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}