{% extends 'base.html' %}

{% block extra_title %}
 - Blog
{% endblock %}

{% block page_header %}
    {% for page in blog_page %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                    <div class="d-flex align-items-center">
                        <h1>{{ page.title }}</h1>
                        <a href="{% url 'add_blog' %}" class="crud-btn" title="Add a blog post">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </div>
                    <span class="mt-3 mt-lg-0">{{ page.subtitle }}</span>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-lg-auto">
            {% for blog in blogs %}
            <a href="{% url 'blog_detail' blog.id %}" class="blog-item w-100 {% if blog.title|lower == featured_blog|lower %}__featured{% endif %}">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-4 h-100">
                            <div class="blog-item-image">
                                <img src="{{ blog.image_url }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="blog-item-wrap d-flex flex-column">
                                <div class="blog-title-wrap d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-end">
                                    <h2 class="blog-item-title h5">
                                        {{ blog.title }}
                                    </h2>
                                    </div>
                                    <p class="d-lg-none">{{ blog.content|striptags|safe|truncatewords:50 }}</p>
                                <p class="blog-item-preview d-none d-lg-block">{{ blog.content|striptags|safe|truncatewords:100 }}</p>
                                {% if blog.author.user %}
                                    <div class="mt-auto blog-item-author">
                                        <span>Written by: 
                                            {{ blog.author.user.get_full_name }}, {{ blog.date_published|date:"M d, Y" }}
                                        </span>
                                    </div>
                                {% endif %}
                                <span class="blog-item-icon"><i class="fa-solid fa-arrow-right-long"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}