{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="{% static 'favicons/favicon.ico' %}" type="image/x-icon">

<link rel="icon" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}" type="image/png">
<link rel="icon" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}" type="image/png">
<link rel="icon" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}" type="image/png">
<link rel="icon" sizes="128x128" href="{% static 'favicons/favicon-128.png' %}" type="image/png">
<link rel="icon" sizes="196x196" href="{% static 'favicons/favicon-196x196.png' %}" type="image/png">

<link rel="shortcut icon" sizes="70x70" href="{% static 'favicons/mstile-70x70.png' %}" type="image/png">
<link rel="shortcut icon" sizes="144x144" href="{% static 'favicons/mstile-144x144.png' %}" type="image/png">
<link rel="shortcut icon" sizes="150x150" href="{% static 'favicons/mstile-150x150.png' %}" type="image/png">
<link rel="shortcut icon" sizes="310x310" href="{% static 'favicons/mstile-310x310.png' %}" type="image/png">

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-touch-icon-57x57.png' %}" type="image/png">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-touch-icon-60x60.png' %}" type="image/png">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-touch-icon-72x72.png' %}" type="image/png">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-touch-icon-76x76.png' %}" type="image/png">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-touch-icon-114x114.png' %}" type="image/png">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-touch-icon-120x120.png' %}" type="image/png">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-touch-icon-144x144.png' %}" type="image/png">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-touch-icon-152x152.png' %}" type="image/png">