<a href="{% url 'product_detail' item.product.id %}" class="basket-menu-item">
    <div class="container px-0">
        <div class="row {% if forloop.first %} __first {% endif %}">
            <div class="col-4 basket-menu-item-image">
                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="" class="w-100">
                {% elif item.product.image_url %}
                    <img src="{{ item.product.image.url }}" alt="" class="w-100">
                {% else %}
                    <div class="no-image __small">
                        <p>No image</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-6 d-flex flex-column">
                <h2>{{ item.product.name }}
                    {% if item.size %}
                        <span class="size">({{ item.size }})</span>
                    {% endif %}
                </h2>
                <p>{{ item.product.description|truncatewords:10 }}</p>
                {% if item.product.on_sale %}
                    {% if item.product.merch %}
                        <p class="mt-auto __red">
                            £{{ item.product.merch.calculate_sale_price }}
                        </p>
                    {% else %}
                        <p class="mt-auto __red">
                            £{{ item.product.album.calculate_sale_price }}
                        </p>
                    {% endif %}
                {% else %}
                    <p class="mt-auto">
                        £{{ item.product.price }}
                    </p>
                {% endif %}
            </div>
            <div class="col-lg-2">
                <h2 class="text-center">Qty</h2>
                <p class="text-center">{{ item.quantity }}</p>
            </div>
        </div>
    </div>
</a>