<div class="nav __mobile">
    <ul class="d-flex nav-list">
        <li class="nav-list-item">
            <a href="#">Shop</a>
            <ul class="__submenu">
                <li><a href="{% url 'products' %}">All products</a></li>
                <li><a href="#">Albums</a></li>
                <li><a href="#">Merchandise</a></li>
                <li><a href="#">Artists</a></li>
            </ul>
        </li>
        <li class="nav-list-item"><a href="{% url 'blog' %}">Blog</a></li>
        <li class="nav-list-item"><a href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-list-item">
            <a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i></a>
            <ul class="__submenu">
                <li><a href="#">Tester</a></li>
                <li><a href="{% url 'profile' %}">View profile</a></li>
            </ul>
        </li>
        <li class="nav-list-item">
            <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
        </li>
    </ul>
</div>