<div class="nav __mobile">
    <ul class="d-flex nav-list">
        <li class="nav-list-item">
            <span>Shop</span>
            <ul class="__submenu">
                <li><a href="{% url 'products' %}">All products</a></li>
                <li><a href="{% url 'products' %}?product_type=album">Albums</a></li>
                <li><a href="{% url 'products' %}?product_type=merch">Merchandise</a></li>
                <li><a href="{% url 'artists' %}">Artists</a></li>
            </ul>
        </li>
        <li class="nav-list-item"><a href="{% url 'blog' %}">Blog</a></li>
        <li class="nav-list-item"><a href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-list-item">
            <span><i class="fa-solid fa-user"></i></span>
            <ul class="__submenu">
                <li><a href="#">Tester</a></li>
                <li><a href="{% url 'profile' %}">View profile</a></li>
            </ul>
        </li>
        <li class="nav-list-item">
            <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
        </li>
        <li class="nav-list-item mt-5">
            <div class="product-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <form method="GET" action="{% url 'products' %}">
                    <label for="q">Search for a product</label>
                    <input type="text" name="q" id="q" autocomplete="off">
                </form>
            </div>
        </li>
    </ul>
</div>