<div class="nav __mobile">
    <ul class="d-flex nav-list">
        <li class="nav-list-item">
            <span>Shop</span>
            <ul class="__submenu">
                <li><a href="{% url 'products' %}">All products</a></li>
                <li><a href="{% url 'products' %}?product_type=album">Albums</a></li>
                <li><a href="{% url 'products' %}?product_type=merch">Merchandise</a></li>
                <li><a href="{% url 'artists' %}">Artists</a></li>
            </ul>
        </li>
        <li class="nav-list-item"><a href="{% url 'blog' %}">Blog</a></li>
        <li class="nav-list-item"><a href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-list-item">
            <span><i class="fa-solid fa-user"></i></span>
            <ul class="__submenu">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">View profile</a></li>
                    {% if user.is_staff %}
                        <li><a href="{% url 'inbox' %}">Inbox</a></li>
                        <li><a href="{% url 'all_orders' %}">Orders</a></li>
                        <li><a href="{% url 'all_profiles' %}">All users</a></li>
                    {% endif %}
                    <li><a href="/accounts/logout">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="nav-list-item">
            <a href="{% url 'view_bag' %}">
                <i class="fa-solid fa-basket-shopping position-relative">
                    <span class="basket-quantity {% if not bag_items %}d-none{% endif %}">
                        {% if bag_items|length > 9 %}
                            9+
                        {% else %}
                            {{ bag_items|length }}
                        {% endif %}
                    </span>
                </i>
            </a>
        </li>
        <li class="nav-list-item mt-5">
            <div class="product-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <form method="GET" action="{% url 'products' %}">
                    <label for="q">Search for a product</label>
                    <input type="text" name="q" id="mobile-q" autocomplete="off">
                </form>
            </div>
        </li>
    </ul>
</div>