<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <a href="{% url 'home' %}" class="header-logo">Forrest Records</a>
            <nav class="nav">
                <ul class="d-flex nav-list">
                    <li class="nav-list-item">
                        <a href="{% url 'products' %}">Shop</a>
                        <ul class="__submenu">
                            <li><a href="{% url 'products' %}">All products</a></li>
                            <li><a href="{% url 'products' %}?product_type=album">Albums</a></li>
                            <li><a href="{% url 'products' %}?product_type=merch">Merchandise</a></li>
                            <li><a href="{% url 'artists' %}">Artists</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-item"><a href="{% url 'blog' %}">Blog</a></li>
                    <li class="nav-list-item"><a href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-list-item">
                        <a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i></a>
                        <ul class="__submenu __right">
                            <li><a href="#">Login/logout</a></li>
                            <li><a href="{% url 'profile' %}">View profile</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-item">
                        <span>
                            <i class="fa-solid fa-basket-shopping position-relative">
                                <span class="basket-quantity">
                                    {% if product_count > 9 %}
                                        9+
                                    {% else %}
                                        {{ product_count }}
                                    {% endif %}
                                </span>
                            </i>
                        </span>
                        <ul class="__basket">
                            {% for item in bag_items %}
                                {% include 'includes/nav/basket-menu-item.html' %}
                            {% endfor %}
                            <a href="{% url 'view_bag' %}" class="button w-100 mt-3">View basket</a>
                            <a href="#" class="button w-100 mt-3">Proceed to checkout</a>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{% include 'includes/nav/mobile-navigation.html' %}

<div class="burger">
    <div class="burger-icon"></div>
</div>

<div class="nav-overlay"></div>