.allauth {
    &-form {
        &-inner {
            &-content {
                @extend .checkout-form;

                background: $color-grey;
                border-radius: .4rem;
                padding: 2rem;
                margin-bottom: 2rem;

                input {
                    font-size: 1.6rem;
                }

                label {
                    margin-bottom: .5rem;
                }

                a {
                    color: $color-red;

                    &:hover,
                    &:focus {
                        color: $color-red;
                    }
                }

                input {
                    &[type=checkbox] {
                        padding: 1rem;
                    }
                }

                .form {
                    &-check {
                        &-label {
                            transform: translate(5px, 50%);
                        }
                    }
                }
            }
        }
    }
}