.artists {
    &-group {
        &-title {
            @extend .h2;
            margin-bottom: .8rem;
        }
    }
    
    &-list {
        &-item {
            margin-bottom: .5rem;

            a {
                font-size: 2rem;
                color: $color-black;
                text-decoration: none;
                transition: all $fast;

                &:hover,
                &:focus {
                    color: $color-red;
                }
            }
        }
    }
}