.basket {
    padding-bottom: 15rem;

    @media screen and (min-width: $lg) {
        padding-bottom: 0;
    }

    &-item {
        padding-bottom: 3rem;
        border-bottom: 1px solid $color-grey;

        @media screen and (min-width: $lg) {
            padding-bottom: 0;
            border-bottom: none;
        }

        &-image {
            @extend %object-fit;
            height: 20rem;
        }

        &-wrap {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-title {
            @extend .h5;
            margin-bottom: 0.8rem;
        }

        &-artist {
            color: $color-red;
            text-decoration: none;
            margin-bottom: 1rem;
            display: inline-block;

            &:hover,
            &:focus {
                color: $color-red;
                text-decoration: underline;
            }
        }

        &-size {
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        &-price {
            @extend .h6;

            position: absolute;
            top: .5rem;
            right: .5rem;
        }

        &-update {
            @extend .h6;

            background: none;
            border: none;
            padding: 0;
            text-decoration: none;
            color: $color-black;

            &:hover,
            &:focus {
                color: $color-black;
            }
        }

        &-remove {
            @extend .h6;

            position: absolute;
            bottom: 0;
            right: 0;
            color: $color-red;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $color-red;
            }
        }

        &-qty {
            margin-top: auto;
        }

        .product-quantity {
            margin: .8rem 0;
        }
    }

    &-summary {
        background: $color-grey;
        padding: 1.6rem;
        border-radius: .4rem;
        
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;

            &.__total {
                margin-top: 10rem;
                border-top: 1px solid rgba($color-black, 0.3);
                padding: 1rem 0.5rem 0;

                .basket-summary-item-title {
                    font-size: 1.8rem;
                }
            }

            &-title {
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }

    &.__empty {
        text-align: center;
        padding: 5rem 0;

        .basket-icon {
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 10rem;
                background: $color-red;
                color: $color-white;
                height: 20rem;
                width: 20rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}