.blog {
    &-item {
        color: $color-black;
        text-decoration: none;
        display: block;
        margin-bottom: 2.6rem;
        position: relative;

        &.__featured {
            @include productTag(featured);

            &::before {
                top: .8rem;
                left: 1.5rem;
            }
        }

        @media screen and (min-width: $lg) {
            height: 25rem;
            margin-bottom: 4rem;
        }

        &:hover,
        &:focus {
            color: $color-black;

            .blog-item {
                &-image {
                    img {
                        transform: scale($scale);
                    }
                }    

                &-icon {
                    color: $color-white;
                    background: $color-black;
                }
            }
        }

        &-image {
            @extend %object-fit;
            height: 20rem;

            @media screen and (min-width: $lg) {
                height: 100%;
            }
        }

        &-wrap {
            position: relative;
            height: 100%;
            padding-bottom: 7.5rem;

            @media screen and (min-width: $lg) {
                padding-left: 1rem;
                padding-bottom: 0;
            }
        }

        &-title {
            @extend .h3;
            margin-bottom: 1.2rem;
        }

        &-preview {
            opacity: 0.8;
        }

        &-icon {
            @extend .product-btn;
        }

        &-author {
            span {
                font-weight: 600;
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 1.2rem;

                @media screen and (min-width: $lg) {
                    position: static;
                    font-size: 1.6rem;
                }
            }
        }
    }

    // individual blog pages
    &-single {
        font-size: 2rem;
        padding-bottom: 15rem;

        @media screen and (min-width: $lg) {
            padding-bottom: 5rem;
        }

        a {
            color: $color-red;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        &-image {
            position: relative;
            overflow: hidden;
            height: 28rem;
            margin-bottom: 5rem;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: all $mid;
            }
        }

        &-author {
            font-weight: 600;
            margin-top: 7.5rem;
        }
    }
}