.button {
    background: $color-red;
    color: $color-white;
    padding: 1.4rem 2.4rem;
    border-radius: 4px;
    border: 2px solid $color-red;
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    transition: all .3s;

    &:hover,
    &:focus {
        color: $color-white;
        background: darken($color-red, 10%);
        border-color: darken($color-red, 10%);
    }

    &.__slide {
        background: right top/210% 100% linear-gradient(to right, $color-white 50%, transparent 50%);
        border: 2px solid $color-white;

        &:hover,
        &:focus {
            background: left top/210% 100% linear-gradient(to right, $color-white 50%, transparent 50%);
            color: $color-black;
        }
    }
}

.product-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid $color-black;
    padding: 1rem 2rem;
    font-size: 2rem;
    transition: all $mid;
}

.crud-btn {
    height: 3rem;
    width: 3rem;
    background: $color-red;
    color: $color-white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 1.2rem;
    text-decoration: none;
    transition: all $fast;

    &:hover,
    &:focus {
        color: $color-white;
        background: darken($color-red, 5%);
    }
}