.contact {
    form {
        @extend .checkout-form;

        background: $color-grey;
        border-radius: .4rem;
        padding: 2rem;
        margin-bottom: 2rem;

        textarea {
            font-size: 1.6rem;
        }
    }
}

.inbox {
    a:not(.button) {
        color: $color-red;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    label {
        font-weight: 600;
        margin-bottom: .5rem;
    }

    input {
        padding: .5rem 1rem;
        font-size: 1.6rem;
        box-sizing: border-box;
        height: 4rem;
        border: 1px solid rgba($color-grey, 0.8);
        border-radius: 4px;
        background-color: white;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;

        &:focus,
        &:active {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        &--webkit-autofill {
            background-color: #fefde5 !important;
        }
    }

    table {
        min-width: 100rem;
    }
}