// header
.header {
    background: $color-black;
margin-bottom: 2rem;
    
    @media screen and (min-width: $lg) {
        margin-bottom: 4rem;
    }

    &.__home {
        position: absolute;
        width: 100%;
        margin-bottom: 0;
        background: transparent;
    }

    &-logo {
        @extend .h3;
        color: $color-white;
        text-decoration: none;
        padding: 1rem 0;

        &:hover,
        &:focus {
            color: $color-white;
        }
    }

    .burger {
        height: 4.8rem;
        width: 4.8rem;
        background: $color-red;
        position: fixed;
        z-index: 5;
        left: 50%;
        bottom: 5rem;
        transform: translateX(-50%);
        display: inline-block;
        border-radius: 4px;

        @media screen and (min-width: $lg) {
            display: none;
        }

        &-icon {
            width: 50%;
            height: 3px;
            background: $color-white;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before,
            &::after {
                content: '';
                background: $color-white;
                width: 100%;
                height: 3px;
                display: inline-block;
                border-radius: 4px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all .3s;
            }

            &::before {
                top: -.6rem;
            }
            
            &::after {
                bottom: -.9rem;
            }
        }
    }
}

// nav
.nav {
    display: none;

    @media screen and (min-width: $lg) {
        display: block;
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($color-black, 0.8);
        display: none;
        z-index: 2;
    }

    &-list {
        &-item {
            position: relative;
            font-weight: 700;
            font-size: 2.4rem;

            @media screen and (min-width: $lg) {
                font-size: 2rem;
            }

            a,
            span:not(.basket-quantity, .scroll) {
                color: $color-white;
                text-decoration: none;
                display: block;
                cursor: pointer;

                @media screen and (min-width: $lg) {
                    padding: 4rem 3rem;
                }
            }

            &:hover,
            &:focus {
                >a,
                >span {
                    color: $color-red;
                }
            }

            &:first-of-type {
                >a,
                >span {
                    padding-left: 0;
                }
            }

            >ul {
                background: $color-white;
                display: none;
                box-shadow: 0 1.6rem 2.4rem 0 rgb(0 0 0 / 20%);
                border-radius: 4px;
                margin-top: 3rem;
                
                @media screen and (min-width: $lg) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateY(100%);
                    width: 30rem;
                    margin-top: 0;
                    z-index: 2;
                }

                &.__basket {
                    left: auto;
                    right: 0;
                    padding: 1rem;
                    width: 35rem;
                    max-height: 40rem;
                    overflow: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    a {
                        padding: 0;
                        background: $color-white;
                        color: $color-black;

                        &:hover,
                        &:focus {
                            h2:not(.text-center) {
                                color: $color-red;
                            }
                        }

                        &.button {
                            @extend .button;
                            text-align: center;
                        }
                    }

                    h2 {
                       font-size: 1.6rem;
                       margin-bottom: 0.8rem;
                    }

                    p {
                       font-size: 1rem;

                       &.text-center {
                        font-size: 2rem;
                       }

                       &.mt-auto {
                        font-size: 1.6rem;
                       }
                    }

                    .scroll {
                        position: fixed;
                        right: 15px;
                        bottom: 15px;
                        background: $color-red;
                        color: $color-white;
                        height: 5rem;
                        width: 5rem;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        display: inline-flex;
                        animation-name: bounce;
                        animation-timing-function: ease;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                    }

                    .basket {
                        &-menu {
                            &-item {
                                border-radius: 4px;
                                
                                .row {
                                    border-bottom: 1px solid $color-grey;
                                    padding: 1.6rem 1rem;

                                    &.__first {
                                        padding-top: 0.6rem;
                                    }
    
                                    &.__last {
                                        padding-bottom: 0.6rem;
                                        border-bottom: none;
                                    } 
                                }
                            }
                        }
                    }
                }

                &.__submenu {
                    >li {
                        a {
                            padding: 1.8rem 2.4rem;
                            color: $color-black;
                            width: 100%;
                            font-size: 2rem;
                            font-weight: 400;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 0;
                                transition: all .3s;
                            }
    
                            &:hover,
                            &:focus {
                                color: $color-white;
                                background: $color-red;

                                &::before {
                                    width: 5px;
                                    background: darken($color-red, 15%);
                                }
                            }
                        }
                    }

                    &.__right {

                        @media screen and (min-width: $lg) {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }

            .basket-quantity {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background: $color-red;
                color: $color-white;
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -1rem;
                right: -.8rem;
            }

            @media screen and (min-width: $lg) {
                &:hover,
                &:focus {
                    >ul {
                        display: block;
                    }
                }
            }
        }
    }

    &.__mobile {
        $nav-width: 80vw;

        display: block;
        position: fixed;
        background: $color-black;
        height: 100vh;
        width: $nav-width;
        top: 0;
        right: 0;
        padding: 6rem 4rem;
        transition: all .3s;
        transform: translateX($nav-width);
        z-index: 3;
        
        >ul {
            flex-direction: column;
            display: flex;

            >li {
                margin-bottom: 3.2rem;
            }
        }

        @media screen and (min-width: $lg) {
            display: none;
        }
    }
}