.product {
    color: $color-black;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1.6rem;
    width: 100%;

    &:hover,
    &:focus {
        color: $color-black;

        .product {
            &-image {
                img {
                    transform: scale($scale);
                }
            }
        }
        
        .product-btn {
            color: $color-white;
            background: $color-black;
        }
    }

    &-title {
        @extend .h4;
        margin-bottom: 0;
    }

    &-text {
        position: relative;
        height: 12.5rem;
        display: flex;
        flex-direction: column;
    }

    &-price {
        @extend .h6;
        margin-left: .5rem;
    }

    &-image {
        @extend %object-fit;
        height: 30rem;
        margin-bottom: .5rem;

        &.__single {
            height: 45rem;
        }
    }

    &-category {
        margin-top: auto;
    }

    &-download {
        font-size: 1rem;
        margin-left: .3rem;
    }

    &-artist {
        color: $color-red;
        font-weight: 500;
        transition: all $fast;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color-red;
            text-decoration: underline;
        }
    }

    &-wishlist {
        color: $color-black;
        text-decoration: none;
        transition: all $fast;

        i {
            font-size: 2rem;
            color: $color-red;
            margin-right: .5rem;
        }

        &:hover,
        &:focus {
            color: $color-red;
        }
    }

    &-quantity {
        button,
        span {
            margin-right: 1.6rem;
        }

        button {
            border: none;
            width: 3.6rem;
            height: 3.6rem;
            background: $color-red;
            color: $color-white;
            border-radius: .4rem;
            transition: all $fast;

            &:hover,
            &:focus {
                background: darken($color-red, 10%);
            }
        }
        
        span {
            @extend .h5;
            margin-bottom: 0;
        }

        i {            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-sizes,
    &-format {
        select {
            @extend %select;
        }
    }

    &-info,
    &-sizes,
    &-quantity,
    &-format {
        margin-bottom: 2rem;
    }

    &-table {
        width: 100%;
        border: 1px solid $color-grey;

        th,
        td {
            border: 1px solid $color-grey;
        }

        th {
            padding: 1rem;
            font-weight: 600;
            background: lighten($color-grey, 5%);
        }

        tr {
            &:nth-child(odd) {
                background: lighten($color-grey, 10%);
            }
        }

        td {
            padding: .8rem 1rem;
        }
    }

    &-search {
        position: relative;
        border-radius: 4.8rem;
        transition: all $mid;
        
        @media screen and (min-width: $lg) {
            max-width: 7.5rem;
            background: $color-red;
            position: fixed;
            z-index: 2;
            bottom: 3rem;
            right: 3rem;
            overflow: hidden;
        }
        
        i {
            font-size: 1.6rem;
            color: $color-white;
            position: absolute;
            left: 1.6rem;
            top: 50%;
            transform: translate(0, -50%);
            z-index: -1;
            
            @media screen and (min-width: $lg) {
                font-size: 3rem;
                left: 2.2rem;
            }
        }

        label {
            position: absolute;
            height: 0;
            width: 0;
            font-size: 0;
        }

        input {
            background: transparent;
            border: 1px solid $color-grey;
            border-radius: 4.8rem;
            font-size: 1.6rem;
            color: $color-white;
            padding: 1rem 0 1rem 4rem;
            width: 100%;
            
            @media screen and (min-width: $lg) {
                border: none;
                padding: 2rem 0rem 2rem 7.5rem;
                font-size: 3rem;
                width: auto;
            }

            &:hover,
            &:focus {
                cursor: pointer;

                outline: none;
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;
            
            @media screen and (min-width: $lg) {
                background: darken($color-red, 5%);
            }
        }

        &.__active {
            max-width: 43rem;

            input {
                &:hover,
                &:focus {
                    cursor: text;
                }
            }
        }
    }

    &.__sale {
        .product {
            &-image {
                @include productTag(sale);
            }

            &-price {
                position: relative;

                &:not(.__sale) {
                    @extend %strikethrough;
                }

                &.__sale {
                    color: $color-red;
                    font-size: 2.4rem;
                }
            }
        }
    }
    
    // product detail

    &-detail {
        padding-bottom: 15rem;

        @media screen and (min-width: $lg) {
            padding-bottom: 5rem;
        }

        &-price {
            @extend .h4;
            position: relative;

            &.__sale {
                @extend .h3;
                margin-left: 1rem;
                color: $color-red;
            }
        }

        &-image {
            @extend .product-image;
            height: 45rem;
        }

        &.__sale {
            .product-detail {
                &-price {
                    &:not(.__sale) {
                        @extend %strikethrough;
                    }
                }

                &-image {
                    @include productTag(sale);
                }
            }
        }
    }
}
