{% extends 'base.html' %}

{% block extra_title %}
 - 403
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'home' %}" class="d-flex align-items-center"><i class="fa-solid fa-chevron-left"></i>
                    Back to home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                <h1 class="d-flex align-items-center">
                    403 Error
                </h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="mb-5">There's nothing here.</p>
            <a href="{% url 'home' %}" class="button">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}
