{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
        <script
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    {% endblock %}


    <title>Forrest Records {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- header -->
    {% include 'includes/nav/navigation.html' %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
    <script>
        $(document).ready(function() {

            // header menu dropdowns (desktop)
            const windowWidth = $(window).width();

            if (windowWidth > 992) {
                $('.nav-list-item').each(function() {
                    const subMenu = $(this).find('ul');
                    const subMenuHeight = subMenu.outerHeight();
                    const basket = $(this).find('.__basket');
                    const scrollBtn = '<span class="scroll"><i class="fa-solid fa-chevron-down"></i></span>';
                
                    if (subMenu.length) {
                        $(this).hover(function() {
                            subMenu.slideDown(function() {
                                if (subMenuHeight >= 400) {
                                    basket.append(scrollBtn);
                                }
                            });
                        }, function() {
                            subMenu.slideUp();
                        })
                    }
                });

                $('.__basket').scroll(function() {
                    $('.scroll').fadeOut(300);
                });
            }
        })
    </script>
    {% endblock %}
    
</body>
</html>