{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        {% include 'includes/head/head.html' %}
    {% endblock %}

    {% block corecss %}
        {% include 'includes/head/head-links.html' %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        {% include 'includes/head/head-scripts.html' %}
    {% endblock %}


    <title>Forrest Records {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- header -->
    <header class="header {{ modifier }}">
        <div class="header-wrap">
            {% include 'includes/nav/navigation.html' %}
        </div>

        {% block breadcrumb %}

        {% endblock %}
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% include 'includes/toasts/toast.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'js/navigation.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    {% endblock %}
    
</body>
</html>