<div class="basket-item mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="basket-item-image mb-3 mb-lg-0">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="" class="w-100">
                    {% elif item.product.image_url %}
                        <img src="{{ item.product.image_url }}" alt="" class="w-100">
                    {% else %}
                        <div class="no-image">
                            <p>No image</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="basket-item-wrap d-flex flex-column align-items-start">

                    <h3 class="basket-item-title">{{ item.product.name }}</h3>

                    {% if item.product.on_sale %}
                        <span class="basket-item-price">
                            {% if item.product.merch.sale_price %}
                                £{{ item.product.merch.sale_price }}
                            {% else %}
                                £{{ item.product.album.sale_price }}
                            {% endif %}
                        </span>
                    {% else %}
                        <span class="basket-item-price">£{{ item.product.price }}</span>
                    {% endif %}

                    <a href="{% url 'products' %}?artist={{ item.product.artist.name }}" class="basket-item-artist">{{ item.product.artist.friendly_name }}</a>

                    {% if item.product.merch.has_sizes %}
                        <p class="basket-item-size">
                            {{ item.size }}
                        </p>
                    {% endif %}

                    <form action="{% url 'adjust_bag' item.product.id %}" method="POST" class="basket-item-form mt-auto">
                        {% csrf_token %}
                        <p class="basket-item-qty">Quantity:</p>
                        <div class="product-quantity d-flex justify-content-start align-items-center">
                            <button class="qty-btn minus-btn">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                            <button class="qty-btn plus-btn">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        
                        {% if item.product.merch.has_sizes %}
                            <input type="hidden" name="product_size" value="{{ item.size }}">
                        {% endif %}

                        <a href="" class="basket-item-update">Update</a>
                        <a href="" class="basket-item-remove" id="remove_{{ item.product.id }}" data-product_size="{{ item.size }}">Remove</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>