{% extends 'base.html' %}

{% block extra_title %}
- Warning
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if album %}
                    <a href="{% url 'product_detail' album.id %}" class="d-flex align-items-center"><i class="fa-solid fa-chevron-left"></i>
                    Back to album</a>
                {% elif merch %}
                    <a href="{% url 'product_detail' merch.id %}" class="d-flex align-items-center"><i class="fa-solid fa-chevron-left"></i>
                    Back to merch</a>
                {% elif artist %}
                    <a href="{% url 'artists' %}" class="d-flex align-items-center"><i class="fa-solid fa-chevron-left"></i>Back to artists</a>
                {% elif blog %}
                    <a href="{% url 'blog_detail' blog.id %}" class="d-flex align-items-center"><i class="fa-solid fa-chevron-left"></i>Back to blog</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_header %}
<div class="adjust-product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                    <h1>{{ page_title }}</h1>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-lg-auto">
                <div class="delete-product">
                    {% if album %}
                        <h2 class="h4 mb-3">You are about to delete "<a href="{% url 'product_detail' album.id %}">{{ album.name }}</a>"</h2>
                    {% elif merch %}
                        <h2 class="h4 mb-3">You are about to delete "<a href="{% url 'product_detail' merch.id %}">{{ merch.name }}</a>"</h2>
                    {% elif artist %}
                        <h2 class="h4 mb-3">You are about to delete "<strong>{{ artist.friendly_name }}</strong>"</h2>
                    {% elif blog %}
                        <h2 class="h4 mb-3">You are about to delete "<a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>"</h2>
                    {% endif %}

                    <p class="mb-5">Are you sure you wish to continue? This <strong>cannot</strong> be undone.</p>
                    
                    {% if album %}
                        <a href="{% url 'delete_album' album.id %}" class="button me-3">Delete</a>
                        <a href="{% url 'product_detail' album.id %}" class="backlink">Return to product</a>
                    {% elif merch %}
                        <a href="{% url 'delete_merch' merch.id %}" class="button me-3">Delete</a>
                        <a href="{% url 'product_detail' merch.id %}" class="backlink">Return to product</a>
                    {% elif artist %}
                        <a href="{% url 'delete_artist' artist.id %}" class="button me-3">Delete</a>
                        <a href="{% url 'artists' %}" class="backlink">Return to artists</a>
                    {% elif blog %}
                        <a href="{% url 'delete_blog' blog.id %}" class="button me-3">Delete</a>
                        <a href="{% url 'blog_detail' blog.id %}" class="backlink">Return to blog</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}