{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Shop
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                    <div class="d-flex align-items-center">
                        <h1>{{ page_title }}</h1>
                        {% if user.is_superuser %}
                            <a href="{% url 'add_album' %}" class="crud-btn" data-bs-toggle="tooltip" data-bs-title="Add album">
                                <i class="fa-solid fa-compact-disc"></i>
                            </a>
                            <a href="{% url 'add_merch' %}" class="crud-btn" data-bs-toggle="tooltip" data-bs-title="Add merch">
                                <i class="fa-solid fa-shirt"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="product-search d-none d-lg-flex align-items-lg-center">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <form method="GET" action="{% url 'products' %}">
                            <label for="q">Search for a product</label>
                            <input type="text" name="q" id="q" autocomplete="off">
                        </form>
                    </div>
                    <select name="shop_filter" id="shop_filter">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="artist_asc" {% if current_sorting == 'artist_asc' %}selected{% endif %}>Artist (A-Z)</option>
                        <option value="artist_desc" {% if current_sorting == 'artist_desc' %}selected{% endif %}>Artist (Z-A)</option>
                        {% if 'album' in product_type %}
                            <option value="genre_asc">Genre (A-Z)</option>
                            <option value="genre_desc">Genre (Z-A)</option>
                        {% endif %}
                        <option value="sale_desc" {% if current_sorting == 'sale_desc'%}selected{% endif %}>Sales</option>
                    </select>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if products|length > 0 %}
                {% for product in products %}
                <div class="col-md-6 col-lg-4 mb-3">
                    <a href="{% url 'product_detail' product.id %}" class="product {% if product.on_sale %}__sale{% endif %}">
                        <div class="product-image">
                            <img src="{{ product.image_url }}" class="w-100" alt="{{ product.name}}">
                        </div>
                        <div class="product-text">
                            <div class="product-text-top d-flex justify-content-between align-items-start">
                                <div>
                                    <h2 class="product-title">
                                        {{ product.name }}
                                    </h2>
                                    <span>{{ product.artist.friendly_name }}</span>
                                    {% if product.merch.has_sizess %}
                                        <span class="product-sizes">Sizes available</span>
                                    {% endif %}                            
                                </div>
                                <div class="d-flex align-items-start">
                                    <p class="product-price">
                                        £{{ product.price }} 
                                    </p>
                                    {% if product.on_sale %}
                                    <p class="product-price __sale">
                                        {% if product.merch %}
                                            £{{ product.merch.calculate_sale_price }}
                                        {% endif %}

                                        {% if product.album %}
                                            £{{ product.album.calculate_sale_price }}
                                        {% endif %}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="product-category d-flex justify-content-start align-items-center">
                                {{ product.product_type }}
                                {% if product.album.digital_download %}
                                    <span class="product-download">- Digital download available</span>
                                {% endif %}
                                {% if product.merch.has_sizes %}
                                    <span class="product-has-sizes">- Sizes available</span>
                                {% endif %}
                            </span>
                            <span class="product-btn"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-md-6 col-lg-4">
                    <h2 class="h4">No items to show.</h2>
                    <a href="{% url 'products' %}" class="backlink">Return to products</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script src="{% static 'products/js/shop-filter-and-search.js' %}"></script>
{% endblock %}