{% extends 'base.html' %}

{% block extra_title %}
 - Shop
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                    <h1>{{ page_title }}</h1>
                    <select name="shop_filter" id="shop_filter">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="artist_asc" {% if current_sorting == 'artist_asc' %}selected{% endif %}>Artist (A-Z)</option>
                        <option value="artist_desc" {% if current_sorting == 'artist_desc' %}selected{% endif %}>Artist (Z-A)</option>
                        {% if 'album' in product_type %}
                            <option value="genre_asc">Genre (A-Z)</option>
                            <option value="genre_desc">Genre (Z-A)</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if products|length > 0 %}
                {% for product in products %}
                <div class="col-md-6 col-lg-4">
                    <a href="{% url 'product_detail' product.id %}" class="product">
                        <div class="product-image">
                            <img src="{{ product.image_url }}" class="w-100" alt="{{ product.name}}">
                        </div>
                        <div class="product-text">
                            <div class="product-text-top d-flex justify-content-between align-items-start">
                                <div>
                                    <h2 class="product-title">{{ product.name }}</h2>
                                    {% if product.merch.has_sizes %}
                                        <span class="product-sizes">X size available</span>
                                    {% endif %}                            </div>
                                <p class="product-price">£{{ product.price }}</p>
                            </div>
                            <span class="product-category">{{ product.product_type }}</span>
                            <span class="product-btn"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-md-6 col-lg-4">
                    <h2 class="h4">No items to show.</h2>
                    <a href="{% url 'products' %}">Return to products</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#shop_filter').change(function() {
            const selector = $(this);
            const currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if (selectedVal != 'reset') {
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}