{% extends 'base.html' %}

{% block extra_title %}
- {{ product.name }}
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'products' %}" class="d-flex align-items-center"><i class="fa-solid fa-chevron-left"></i>
                    Back to products</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_header %}
<div class="product-detail {% if product.on_sale %}__sale{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                    <h1>{{ product.name }}</h1>
                    <div class="d-flex align-items-end">

                        {% if product.merch.has_sizes %}
                            
                            <!-- merch pricing logic -->
                            {% include 'products/includes/merch-sale-logic.html' %}

                        {% else %}
                            
                            <!-- album pricing logic (including digital download sale )-->
                            {% include 'products/includes/album-sale-logic.html' %}

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="product-detail-image {% if product.on_sale %}__sale{% endif %}">
                    <img src="{{ product.image_url }}" alt="">
                </div>
                {% if product.album %}
                <h2 class="h4 mt-5">Album info</h2>
                    {% if product.album.song_set.all %}
                        {% include 'products/includes/album-info.html' %}
                    {% else %}
                    <p>There is currently no information for this album.</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-7">
                <div class="product-info">
                    <h2 class="h4">{{ product.name }}</h2>
                    <a href="{% url 'products' %}?artist={{ product.artist.name }}" class="product-artist mb-3 d-inline-block">{{ product.artist.friendly_name }}</a>
                    <p>{{ product.description }}</p>
                </div>
                {% if product.album.digital_download %}
                    <div class="product-format">
                        <h2 class="h5">Format</h2>
                        <select name="format" id="format">
                            <option value="vinyl" {% if not digital_download_enabled %}selected{% endif %}>Vinyl</option>
                            <option value="digital_download" {% if digital_download_enabled %}selected{% endif %}>Digital Download</option>
                        </select>
                    </div>
                {% endif %}

                {% if product.merch.has_sizes %}
                    <div class="product-sizes">
                        <h2 class="h5">Sizes</h2>
                        <select name="sizes" id="sizes">
                            <option value="xs">XS</option>
                            <option value="sm">S</option>
                            <option value="m" selected>M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                    </div>
                {% endif %}

                <form action="">
                    {% if not digital_download_enabled %}
                        <div class="product-quantity d-flex justify-content-start align-items-center">
                            <button class="qty-btn minus-btn">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <input type="number" id="quantity" name="quantity" value="1" min="1" max="99">
                            <button class="qty-btn plus-btn">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    {% endif %}

                    <input type="submit" class="button me-3" value="Add to basket">
                    <a href="#" class="product-wishlist">
                        <i class="fa-regular fa-heart"></i>
                        <!-- @TODO: add logic to show filled heart when item is part of wishlist -->
                        <!-- <i class="fa-solid fa-heart"></i> -->
                        Add to wishlist
                    </a>
                </form>
            </div>
        </div>
    </div>

    {% if related_products|length > 0 %}
        {% include 'products/includes/related-products.html' %}
    {% endif %}

</div>


{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        $('#format').each(function() {
            const thisElement = $(this);
            
            thisElement.change(function() {
                const currentUrl = new URL(window.location);
                let selectedVal = $(this).val();

                if (selectedVal != 'vinyl') {
                    currentUrl.searchParams.set('format', selectedVal);
                    window.location.replace(currentUrl);
                } else {
                    currentUrl.searchParams.delete('format');
                    window.location.replace(currentUrl);
                };
            });
        });
    </script>

    {% include 'products/includes/quantity-input-script.html' %}
{% endblock %}