<div class="col-md-6 col-lg-3 {% if wishlist %}mb-4{% endif %}">
    <a href="{% url 'product_detail' product.id %}" class="related-item">
        <div class="related-item-image">
            {% if item.product.image %}
                <img src="{{ item.product.image.url }}" alt="" class="w-100">
            {% elif item.product.image_url %}
                <img src="{{ item.product.image.url }}" alt="" class="w-100">
            {% else %}
                <div class="no-image">
                    <p>No image</p>
                </div>
            {% endif %}
            <span class="related-item-name">{{ product.name }}</span>
            <span class="related-item-price">
                {% if not product.on_sale %}
                    £{{ product.price }}
                {% else %}
                    {% if product.album %}
                        £{{ product.album.calculate_sale_price }}
                    {% else %}
                        £{{ product.merch.calculate_sale_price }}
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </a>
</div>